{%- liquid 
  assign key_by_photo_product_in_cart = false

  for item in cart.items
    if item.product.tags contains settings.key_by_photo_product_tag
      assign key_by_photo_product_in_cart = true
      break
    endif
  endfor

  unless key_by_photo_product_in_cart
    continue
  endunless
-%}

<cart-key-by-photo class="cart-key-by-photo cart-key-by-photo--{{ context }}"
  data-upload-lift-key-by-photo
  data-cart-key-by-photo-cart-attribute="{{ settings.key_by_photo_cart_attribute }}"
  data-cart-key-by-photo-max-image-count="{{ settings.key_by_photo_max_image_count }}"
>
  <p class="cart-key-by-photo__heading h6">
    {{ 'cart.key_by_photo.upload_key_heading' | t }}
  </p>
  <div class="cart-key-by-photo__widget">
    {%- form 'cart', cart -%}
      {% comment %} Upload-Lift widget {% endcomment %}
      <div class="upload-lift-cart-key-by-photo"></div>
    {%- endform -%}
  </div>
</cart-key-by-photo>