<div class="page-brand">
  <div class="full-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 branded-content pb-3 g-2">
    
    <div class="col brand-item text-start text-custom" id="brand_clone">
        <div class="card shadow-sm bg-white p-3 h-100">
          <h4 name="default" class="pb-3"></h4>
          <div class="brand-links list-group list-group-flush">
            <div id="link_clone" class="brand-link icon-link icon-link-hover list-group-item">
                <a href="#" class="link-icon"></a>
            </div>
          </div>
        </div>
    </div>
    
  </div>
</div>

  {% schema %}
  {
    "name": "car model list hero",
    "settings": []
  }
{% endschema %}